@model IEnumerable<ShopAcc.Models.Media>

@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var acc = Session["Acc"] as ShopAcc.Models.Account;
}
<h2>Hình ảnh mô tả</h2>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <a href="@Url.Action("Media",new {@id = Convert.ToInt32(acc.id)})">
        <button class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="bi bi-arrow-left" style="font-size: 15px"></i>
            <strong style="font-size:14px">Quay lại</strong>
        </button>
    </a>
    <div class="text-right">

        <a href="@Url.Action("Media")>
            <button class="btn btn-danger" type="button" style="width:60px; height:min-content; align-content:center"> <i class="bi bi-backspace" style="color:white; font-size: 18px"></i></button>
        </a>


    </div>

    <div>
        <p>
            @foreach (var item in Model)
            {
                <img src="@item.link_Media" alt="..." width="850px;" style="padding: 10px;" />
            }
        </p>
    </div>
</body>

